@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family:  Open Sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
.bg-container{
  background-size: cover;
  color:white;
  position: relative;
  /* background-position: right 150px top 0px; */
}
.dog_img{
  opacity: .8;
  transform: scaleX(-1);
}
.img-overlay{
    /* outline: 88px solid rgba(193,150, 190, 0.4) !important; */
    outline: 88px solid rgba(128,128, 128, 0.2) !important;
    outline-offset: -88px;
    overflow: hidden;
    position: relative;
    height: 12rem;
    width: 12rem;
    object-fit: cover;
}
.active
{
  @apply bg-slate-700;
  @apply text-white;
}